@font-face {
    font-family: 'Relewey-Black';
    src: url('./../fonts/RalewayBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Relewey-Bold';
    src: url('./../fonts/RalewayBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Relewey-Regular';
    src: url('./../fonts/RalewayRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Relewey-Light';
    src: url('./../fonts/RalewayLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('./../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./../fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./../fonts/Roboto-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}